._q-rounded {
  ._q-user-input {
    > div {
      &:first-child {
        border-radius: 2px;
      }
    }
  }
}
._q-user-input {
  display: flex;
  gap: 20px;
  > div {
    &:first-child {
      flex: 0 0 4px;
      background: #e5e5e5;
      align-self: stretch;
      &._q-s0 {
        background: #ff9c9c;
      }
      &._q-s25 {
        background: #f6bd60;
      }
      &._q-s50 {
        background: #c8cee4;
      }
      &._q-s75 {
        background: #6ce5e5;
      }
      &._q-s100 {
        background: #48bf84;
      }
    }
    &:last-child {
      flex: 1 1 auto;
    }
    > *:first-child {
      margin-top: 0 !important;
    }
    > *:last-child {
      margin-bottom: 0 !important;
    }
  }
}
