._q-rounded {
  ._q-contact-details {
    input {
      border-radius: 6px;
    }
  }
}
._q-contact-details-wrapper {
  margin: 0 0 20px !important;
  &._q-field-error {
    background: #ffd7d7;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
}
._q-contact-details {
  svg {
    position: absolute;
    transform: translate(10px, 8px);
  }
  input {
    border: 1px solid #c7cacd;
    color: #333;
    font-size: 13px;
    width: 100%;
    padding: 6px 12px 7px 30px !important;
    cursor: text !important;
    background: transparent;
    &:focus {
      border-color: #0084ce;
      outline: 1px solid #0084ce;
    }
    &::placeholder {
      color: #333;
    }
  }
}

._q-required-hint {
  font-size: 11px;
  font-family: var(--font-qp);
  color: #333;
  text-align: right;
  margin: 5px 0 0 !important;
}

._q-field-error-banner {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px !important;
  svg {
    flex: 0 0 auto;
    width: 16px;
    height: 16px;
  }
  span {
    font-size: 13px;
    font-family: var(--font-qf);
    color: #eb5757;
    font-weight: 400;
  }
}
