._q-rounded {
  ._q-contact-details {
    input {
      border-radius: 6px;
    }
  }
}
._q-contact-details {
  margin: 0 0 20px !important;
  svg {
    position: absolute;
    transform: translate(10px, 8px);
  }
  input {
    border: 1px solid #c7cacd;
    color: #333;
    font-size: 13px;
    width: 100%;
    padding: 6px 12px 7px 30px !important;
    cursor: text !important;
    background: transparent;
    &:focus {
      border-color: #0084ce;
      outline: 1px solid #0084ce;
    }
    &::placeholder {
      color: #333;
    }
  }
}
