._q-contact-details-wrapper {
  &._q-field-error {
    background: #5b2929;
  }
}
._q-contact-details {
  svg {
    path {
      fill: #4f4f4f;
    }
  }
  input {
    border-color: #4f4f4f;
    color: #bdbdbd;
    &::placeholder {
      color: #bdbdbd;
    }
  }
}
._q-field-error ._q-required-hint {
  color: #fff;
}
