@import "./render/pageIndicator.scss";
@import "./render/inputs/score.scss";
@import "./render/inputs/scoreSmiley.scss";
@import "./render/inputs/select.scss";
@import "./render/inputs/attachment.scss";
@import "./render/submitted/userInput/userInput.scss";
@import "./render/submitted/userInput/score.scss";
@import "./render/submitted/userInput/attachments.scss";
@import "./render/submitted/userInput/select.scss";
@import "./render/submitted/image.scss";
@import "./render/submitted/confirmationText.scss";
@import "./render/renderEnquiry.scss";
@import "./render/renderStrengthenBy.scss";

@font-face {
  font-family: QF;
  font-weight: 400;
  src: url(https://static.qualtive.io/fonts/Inter-Regular.woff);
  font-display: swap;
}
@font-face {
  font-family: QF;
  font-weight: 500;
  src: url(https://static.qualtive.io/fonts/Inter-Medium.woff);
  font-display: swap;
}
@font-face {
  font-family: QF;
  font-weight: 600;
  src: url(https://static.qualtive.io/fonts/Inter-SemiBold.woff);
  font-display: swap;
}
#_q-no-click {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999997;
}
#_q-container,
._q-content {
  &,
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    box-sizing: border-box;
    font-family:
      Inter,
      QF,
      -apple-system,
      BlinkMacSystemFont,
      "Helvetica Neue",
      sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;

    &:not(textarea):not(._q-error._q-successli:first-child):not(._q-resultp):not(._q-result):not(select) {
      cursor: default;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
    }
  }

  form {
    display: flex;
    flex-direction: column;
  }
  button {
    background: transparent;
    border: none;
    border-radius: 0;
    display: flex;
    &:not(:disabled) {
      &,
      * {
        cursor: pointer !important;
      }
    }
    &._q-contained {
      border-radius: 20px;
      height: 40px;
      justify-content: center;
      align-items: center;
      align-self: center;
      gap: 5px;
      margin: 0 0 20px;
      outline: none;
      border: 1px solid #333;
      padding: 0 30px;
      &[type="button"] {
        span {
          color: #333;
        }
        &:not(:disabled):not(:active):not(:focus) {
          &:hover {
            border-color: #000;
            background: #efefef;
            span {
              color: #000;
            }
          }
        }
        &:active {
          border-color: #606060;
          background: #606060;
          span {
            color: #fff;
          }
        }
        &:focus {
          border-color: #0084ce;
          outline: 1px solid #0084ce;
          background: #efefef;
        }
        &:disabled {
          border-color: #808080;
          background: #fff;
          span {
            color: #808080;
          }
        }
      }
      &[type="submit"] {
        background: #333;
        span {
          color: #fff;
        }
        path[stroke] {
          stroke: #fff;
        }
        &:not(:disabled):not(:active):not(:focus) {
          &:hover {
            border-color: #111;
            background: #111;
          }
        }
        &:active {
          border-color: #606060;
          background: #606060;
          span {
            color: #fff;
          }
          path[stroke] {
            stroke: #fff;
          }
        }
        &:focus {
          border-color: #0084ce;
          outline: 1px solid #0084ce;
        }
        &:disabled {
          border-color: #e5e5e5;
          background: #e5e5e5;
          span {
            color: #737373;
          }
          path[stroke] {
            stroke: #737373;
          }
        }
      }
      span {
        font-size: 13px;
        font-weight: 600;
      }
    }
  }
  ul {
    list-style: none;
  }
  h2 {
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 15px;
    color: #000;
  }
  h3 {
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 10px;
    color: #000;
  }
  p {
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    color: #333;
    margin: 0 0 10px;
    &._q-error {
      color: #e33737;
    }
  }
  textarea {
    margin: 0 0 20px;
    width: 100%;
    resize: none;
    border: 1px solid #c7cacd;
    border-radius: 6px;
    padding: 12px 12px;
    font-size: 14px;
    font-weight: 400;
    outline: 0;
    height: 100px;
    line-height: 20px;
    color: #333;
    background: transparent;
    &:not(:disabled) {
      &:active,
      &:focus {
        border: 2px solid #0084ce;
        padding: 11px 11px;
      }
    }
    &::placeholder {
      color: #333;
    }
  }
  a {
    text-decoration: none;
    font-weight: 500;
    cursor: pointer !important;
    &:link,
    &:visited {
      color: #0084ce;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

#_q-container {
  width: 100%;
  position: fixed;
  max-height: 100vh;
  overflow: auto;
  background: #fff;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition:
    transform 0.25s,
    opacity 0.25s,
    height 0.25s;
  z-index: 99999998;
  padding: 30px 50px;
  &._q-out {
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
  }

  ._q-header {
    display: flex;
    justify-content: flex-end;
  }
  ._q-cancel {
    &:focus {
      outline: 0;
      path[stroke] {
        stroke: #0084ce;
      }
    }
  }
  ._q-support-link {
    background: #fcf1d1;
    font-size: 12px;
    text-align: right;
    padding: 20px 30px 20px 10px;
    margin: 10px -50px -30px;
    line-height: 20px;
    a:focus {
      outline: 0;
      text-decoration: underline;
    }
  }
}
._q-content {
  display: flex;
  flex-direction: column;
  padding: 10px 0 !important;
}

@media only screen and (max-width: 550px), (max-height: 550px) {
  #_q-container,
  ._q-content {
    textarea {
      font-size: 16px;
    }
  }
  #_q-container {
    height: auto;
    overflow: auto;
    max-height: calc(100vh - 40px);
    margin: 20px 0 0;
    padding: 30px;
    top: 0;
    transform: translate(-50%, 0);
    &._q-out {
      transform: translate(-50%, 0) scale(0.9);
    }
  }
}

@media only screen and (max-width: 460px) {
  #_q-container {
    max-width: none;
  }
}
