@import "./render/pageIndicator-dark.scss";
@import "./render/inputs/score-dark.scss";
@import "./render/inputs/scoreSmiley-dark.scss";
@import "./render/inputs/select-dark.scss";
@import "./render/inputs/attachment-dark.scss";
@import "./render/inputs/contactDetails-dark.scss";
@import "./render/submitted/userInput/select-dark.scss";
@import "./render/renderStrengthenBy-dark.scss";

#_q-container,
._q-content {
  button {
    &._q-contained {
      border-color: #fff;
      &[type="button"] {
        span {
          color: #fff;
        }
        path[stroke] {
          stroke: #fff;
        }
        &:not(:disabled):not(:active):not(:focus) {
          &:hover {
            border-color: #fff;
            outline: 1px solid #fff;
            background: transparent;
            span {
              color: #fff;
            }
          }
        }
        &:active {
          border-color: #979797;
          background: #979797;
          span {
            color: #fff;
          }
        }
        &:focus {
          border-color: #0084ce;
          outline: 1px solid #0084ce;
          background: #111;
        }
        &:disabled {
          border-color: #808080;
          background: #111;
          span {
            color: #808080;
          }
          path[stroke] {
            stroke: #808080;
          }
        }
      }
      &[type="submit"] {
        background: #fff;
        border-color: #fff;
        span {
          color: #000;
        }
        path[stroke] {
          stroke: #000;
        }
        &:not(:disabled):not(:active):not(:focus) {
          &:hover {
            border-color: #e5e5e5;
            background: #e5e5e5;
          }
        }
        &:active {
          border-color: #979797;
          background: #979797;
          span {
            color: #fff;
          }
          path[stroke] {
            stroke: #fff;
          }
        }
        &:focus {
          background: #e5e5e5;
        }
        &:disabled {
          border-color: #979797;
          background: #979797;
          span {
            color: #737373;
          }
          path[stroke] {
            stroke: #737373;
          }
        }
      }
    }
  }
  h2,
  h3,
  p {
    color: #bdbdbd;
  }
  p {
    &._q-error {
      color: #de5e35;
    }
  }
  textarea {
    border: 1px solid #4f4f4f;
    color: #bdbdbd;
    &::placeholder {
      color: #4f4f4f;
      opacity: 1;
    }
  }
}

#_q-container {
  background: #1b1b1b;
  ._q-cancel {
    path[stroke] {
      stroke: #fff;
    }
  }
  ._q-support-link {
    background: #6d6d6d;
    a {
      &:link,
      &:visited {
        color: #fff;
      }
    }
  }
}
