@use "./render/pageIndicator-dark";
@use "./render/inputs/score-dark";
@use "./render/inputs/scoreSmiley-dark";
@use "./render/inputs/scoreThumb-dark";
@use "./render/inputs/select-dark";
@use "./render/inputs/attachment-dark";
@use "./render/inputs/contactDetails-dark";
@use "./render/submitted/userInput/select-dark" as submittedSelectDark;
@use "./render/submitted/userInputScore-dark";
@use "./render/submitted/reviewLinks-dark";
@use "./render/renderStrengthenBy-dark";
@use "./render/inputs/scoreStars-dark";
@use "./render/renderEnquiry-dark";

#_q-container,
._q-content {
  a._q-contained {
    &:link,
    &:visited {
      color: #fff;
    }
  }

  a,
  button {
    &._q-contained {
      border-color: #fff;
      &[type="button"] {
        span {
          color: #fff;
        }
        path[stroke] {
          stroke: #fff;
        }
        &:not(:disabled):not(:active):not(:focus) {
          &:hover {
            border-color: #fff;
            outline: 1px solid #fff;
            background: transparent;
            span {
              color: #fff;
            }
          }
        }
        &:active {
          border-color: #979797;
          background: #979797;
          span {
            color: #fff;
          }
        }
        &:focus {
          border-color: #0084ce;
          outline: 1px solid #0084ce;
          background: #111;
        }
        &:disabled {
          border-color: #808080;
          background: #111;
          span {
            color: #808080;
          }
          path[stroke] {
            stroke: #808080;
          }
        }
      }
      &[type="submit"] {
        background: #fff;
        border-color: #fff;
        span {
          color: #000;
        }
        path[stroke] {
          stroke: #000;
        }
        &:not(:disabled):not(:active):not(:focus) {
          &:hover {
            border-color: #e5e5e5;
            background: #e5e5e5;
          }
        }
        &:active {
          border-color: #979797;
          background: #979797;
          span {
            color: #fff;
          }
          path[stroke] {
            stroke: #fff;
          }
        }
        &:focus {
          background: #e5e5e5;
        }
        &:disabled {
          border-color: #979797;
          background: #979797;
          span {
            color: #737373;
          }
          path[stroke] {
            stroke: #737373;
          }
        }
      }
    }
  }
  h1,
  h2,
  p {
    color: #bdbdbd;
  }
  p {
    &._q-error {
      color: #de5e35;
    }
  }
  textarea,
  input[type="text"] {
    border: 1px solid #4f4f4f;
    color: #bdbdbd;
    &::placeholder {
      color: #4f4f4f;
      opacity: 1;
    }
  }
}

#_q-container {
  background: #1b1b1b;
  ._q-cancel {
    path[stroke] {
      stroke: #fff;
    }
  }
  ._q-support-link {
    background: #6d6d6d;
    a {
      &:link,
      &:visited {
        color: #fff;
      }
    }
  }
}
