._q-pager {
  position: relative;
  overflow: visible;
  transition: 0.3s height;
  will-change: height;
}
._q-pager + * {
  margin-top: 20px !important;
}
._q-page {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: 0.3s left;
  will-change: left;
  &:not(._q-current) {
    pointer-events: none;
  }
  &._q-current {
    left: 0;
  }
  &._q-prev {
    left: calc(-100% - 50px);
  }
  &._q-next {
    left: calc(100% + 50px);
  }
  > *:first-child {
    margin-top: 0 !important;
  }
}

._q-required-top-banner {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background: #fcf1d1;
  padding: 15px !important;
  margin: 0 0 20px !important;
  width: 100%;
  svg {
    flex: 0 0 auto;
    width: 16px;
    height: 16px;
  }
  span {
    font-size: 13px;
    font-family: var(--font-qp);
    color: #eb5757;
    font-weight: 500;
  }
}
